<nav>
    <div class="logo"><a href="/">Blogy</a></div>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/post/create">Create</a></li>
    </ul>
</nav>