<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head.ejs') %>
<body>
    <div class="container">
        <%- include('../partials/nav.ejs') %>

        <div class="about-container">
            <h2>About Us</h2>
            <p class="about">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus aliquam rem minima repellat atque
                exercitationem modi, alias officia quo voluptate eum sed natus, corporis incidunt, facere dolorem! Est, iusto
                nesciunt.
            </p>
        </div>
    </div>

</body>
</html>