<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head.ejs') %>
<body>
    <div class="container">
        <%- include('../partials/nav.ejs') %>
        <div class="form-container">
            <h2>
                Create Post
            </h2>

            <form action="/post/create" method="POST" class="form">
                <div class="form-item">
                    <Label>post name</Label>
                    <input type="text" placeholder="Enter post name" name="input">
                </div>

                <textarea placeholder="Enter post description" name="textarea"></textarea>
                <button class="btn" type="submit">Create Post</button>
            </form>
        </div>
    </div>
</body>
</html>